<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Polymer-torg.kz - ПЭНД полиэтилен низкого давления марки PE100 для экструзии трубных изделий</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" href="/fonts/ionicons.min.css">
    <link rel="stylesheet" href="/css/Contact-Form-Clean.css">
    <link rel="stylesheet" href="/css/Features-Blue.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/css/lightbox.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/css/pikaday.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/css/swiper.min.css">
    <link rel="stylesheet" href="/css/Lightbox-Gallery-1.css">
    <link rel="stylesheet" href="/css/Lightbox-Gallery.css">
    <link rel="stylesheet" href="/css/Simple-Slider-1.css">
    <link rel="stylesheet" href="/css/Simple-Slider.css">
    <link rel="stylesheet" href="/css/untitled.css">
    <link rel="shortcut icon" href="/img/favicon.ico" />
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-primary portfolio-navbar gradient">
        <div class="container"><button data-toggle="collapse" class="navbar-toggler" data-target="#navbarNav"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse navTop" id="navbarNav">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="#o-nas">О нас</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#PND">ПЭНД&nbsp;</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#contact">Контакты</a></li>
                </ul>
                <ul class="nav navbar-nav ml-auto ml-auto2">
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="#contact">Запросить Звонок</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="tel:+77715452205">+77715452205</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="mailto:info@elctrogroup.kz">info@elctrogroup.kz</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="imageContainer" class="container">
        <div id="logoImage"><img></div>
    </div>
    <div>
        <div class="container" id="o-nas">
            <div class="row margin">
                <div class="col-md-12">
                    <div class="jumbotron">
                        <h1 class="text-center">ПЭНД PE100 - HDPE PE100</h1>
                        <p class="intro-txt text-center">Мы поставляем полиэтилен низкого давления марки PE100 для экструзии трубных изделий.<br></p>
                    </div>
                </div>
            </div>
            <div class="swiper-container margin">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" style="background-image:url(/img/Slider/6.jpg);"></div>
                    <div class="swiper-slide" style="background-image:url(/img/Slider/1.jpg);"></div>
                    <div class="swiper-slide" style="background-image:url(/img/Slider/3.jpg);"></div>
                    <div class="swiper-slide" style="background-image:url(/img/Slider/2.jpg);"></div>
                    <div class="swiper-slide" style="background-image:url(/img/Slider/4.jpg);"></div>
                    <div class="swiper-slide" style="background-image:url(/img/Slider/5.jpg);"></div>
                </div>
                <div class="swiper-pagination"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
            <div class="row" id="PND">
                <div class="col">
                    <h2 class="text-center heading-sec"><strong>МАРКИ ПЭНД PE100</strong><br></h2>
                </div>
            </div>
            <div class="row margin">
                <div class="col col-md-12">
                    <h1 class="text-center">Shazand ARM CRP100<br></h1>
                </div>
                <div class="col-md-6 first-child">
                    <p><strong>Страна производитель:</strong> Иран<br><strong>Компания: </strong>Shazand Petrochemical<br><strong>Цвет:</strong> Черный<br><strong>Плотность:</strong> 0.957 g/cm3<br><strong>Лицензия:&nbsp;</strong>LyondellBasell<br><strong>Цена:</strong>                        Цена меняется каждую неделю в зависимости от тренда на рынке</p><a href="#contact"><button class="btn btn-primary data-buttons" type="button">Запросить цену на эту неделю</button></a></div>
                <div class="col-md-6 text-center"><a data-lightbox="photos" href="/img/datasheets/img-armcrp100.png"><img class="img-fluid" src="/img/datasheets/img-armcrp100.png"></a><a href="/img/datasheets/data-Arm-Crp-100.pdf" target="_blank"><button class="btn btn-primary data-buttons" type="button">Открыть Тех. Описание</button></a></div>
            </div>
            <div class="row margin">
                <div class="col col-md-12">
                    <h1 class="text-center">Jam Petrochemical HM CRP100<br></h1>
                </div>
                <div class="col-md-6 first-child">
                    <p><strong>Страна производитель:</strong>&nbsp;Иран<br><strong>Компания:</strong>&nbsp;Jam Petrochemical<br><strong>Цвет:&nbsp;</strong>Натуральный<br><strong>Плотность:&nbsp;</strong>0.955 - 0.960 g/cm3<br><strong>Лицензия:&nbsp;</strong>LyondellBasell<br><strong>Цена:</strong>&nbsp;Цена
                        меняется каждую неделю в зависимости от тренда на рынке<br></p><a href="#contact"><button class="btn btn-primary data-buttons" type="button">Запросить цену на эту неделю</button></a></div>
                <div class="col-md-6 text-center"><a data-lightbox="photos" href="/img/datasheets/img-hmcrp-100.png"><img class="img-fluid" src="/img/datasheets/img-hmcrp-100.png"></a><a href="/img/datasheets/data-HM-CRP-100.pdf" target="_blank"><button class="btn btn-primary data-buttons" type="button">Открыть Тех. Описание</button></a></div>
            </div>
            <div class="row margin">
                <div class="col col-md-12">
                    <h1 class="text-center">Киянлынский&nbsp;Inpipe 100&nbsp;<br></h1>
                </div>
                <div class="col-md-6 first-child">
                    <p><strong>Страна :&nbsp;</strong>Туркменистан<br><strong>Компания:&nbsp;</strong>Киянлынский Завод&nbsp;<br><strong>Цвет:&nbsp;</strong>Черный<br><strong>Плотность:&nbsp;</strong>0.957 - 0.961 g/cm3<br><strong>Лицензия:&nbsp;</strong>UniPol<br><strong>Цена:</strong>&nbsp;Цена
                        меняется каждую неделю в зависимости от тренда на рынке<br></p><a href="#contact"><button class="btn btn-primary data-buttons" type="button">Запросить цену на эту неделю</button></a></div>
                <div class="col-md-6 text-center"><a data-lightbox="photos" href="/img/datasheets/img-inpipe-100.png"><img class="img-fluid" src="/img/datasheets/img-inpipe-100.png"></a><a href="/img/datasheets/data-inpipe-100.pdf" target="_blank"><button class="btn btn-primary data-buttons" type="button">Открыть Тех. Описание</button></a></div>
            </div>
            <div class="row margin">
                <div class="col col-md-12">
                    <h1 class="text-center">Казаньоргсинтез P3804 (PE100)&nbsp;<br></h1>
                </div>
                <div class="col-md-6 first-child">
                    <p><strong>Страна :</strong>&nbsp;Россия<br><strong>Компания:</strong>&nbsp;ПАО "Казаньоргсинтез"<br><strong>Цвет:</strong>&nbsp;Черный<br><strong>Плотность:&nbsp;</strong>0.936 - 0.940 g/cm3<br><strong>Лицензия:&nbsp;</strong>ГОСТ<br><strong>Цена:</strong>&nbsp;Цена
                        меняется каждую неделю в зависимости от тренда на рынке<br></p><a href="#contact"><button class="btn btn-primary data-buttons" type="button">Запросить цену на эту неделю</button></a></div>
                <div class="col-md-6 text-center"><a data-lightbox="photos" href="/img/datasheets/img-Р3804-PERT.jpg"><img class="img-fluid" src="/img/datasheets/img-Р3804-PERT.jpg"></a><a href="/img/datasheets/data-Р3804-PERT.pdf" target="_blank"><button class="btn btn-primary data-buttons" type="button">Открыть Тех. Описание</button></a></div>
            </div>
        </div>
    </div>
    <h2 class="text-center heading-sec"><strong>Контакты</strong><br></h2>
    <div class="container intro bg-color">
        <div class="container">
            <div>
                <p class="text-contact">Республика Казахстан, 130000, Мангистауская область, г. Актау, 2 мкр., БЦ «Сункар», 2 этаж, офис 225-226.<br><br>Tel:&nbsp;<span style="text-decoration: underline;">+7 702 360 9942</span><br><br>email:&nbsp;<a href="mailto:info@electrogroup.kz">info@electrogroup.kz</a>;&nbsp;&nbsp;
                    <a
                        href="mailto:sales@electrogroup.kz">sales@electrogroup.kz</a><br><br></p>
            </div>
        </div>
    </div>
    <div class="contact-clean container bg-color" id="contact">
        <form method="post">
            <h2 class="text-center">Оставьте Заявку</h2>
            <div class="form-group message"><textarea class="form-control" placeholder="Сообщение" rows="14"></textarea></div>
            <div class="form-group"><input class="form-control name" type="text" name="name" placeholder="Имя"></div>
            <div class="form-group"><input class="form-control tel" type="tel" placeholder="+77715452205"></div>
            <div class="form-group"><input class="form-control email" type="email" name="email" placeholder="info@site.kz"></div>
            <div class="form-group"><button class="btn btn-primary" type="submit">Отправить</button></div>
        </form>
    </div>
    <footer class="page-footer bg-color">
        <div class="container">
            <div class="links"><a href="#">О нас</a><a href="#">Контакты</a></div>
            <div class="social-icons"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-instagram-outline"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a></div>
        </div>
    </footer>
    <script src="/js/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/js/lightbox.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.6.1/pikaday.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.jquery.min.js"></script>
    <script src="/js/Simple-Slider-1.js"></script>
    <script src="/js/Simple-Slider.js"></script>
    <script src="/js/theme.js"></script>
</body>

</html>